* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    perspective: 600px;
}

section {
    background-image: url(../images/bg3-8907ec01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: #ffffff;
    position: relative;
}

section .title {
    text-align: center;
    background-color: #0099CC;
}